body {
	margin: 0;
	min-height: 100vh;
	font-family: arial, sans-serif;
	background-color: darkslategrey;

	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
}

.btn-container {
	margin: 1em auto;
	width: 70%;
}

.btn {
	border: 0;
	display: block;
	padding: 1em 1.25em;
	border-radius: 7px;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .20);
}

.increment {
	padding: 2em;
	margin-bottom: 1em;
	background-color: greenyellow;
	color: black;
}

.save {
	background-color: tomato;
	color: whitesmoke;
}

#previous {
	font-size: 1.3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.wrapper {
	width: 90%;
	max-width: 500px;
	border-radius: 17px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .20);
	background-color: cadetblue;
	display: flex;
	flex-direction: column;
}

.counter-main {
	text-align: center;
}

.counter-body {
	order: -1;
}

#counter-visual {
	margin: 0;
	font-size: 12rem;
	text-align: center;
}

.project {
	margin: 0;
	padding: 1em;
	display: inline-block;
	position: fixed;
	bottom: 0;
	right: 0;
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: 600;
	letter-spacing: 1px;
	opacity: .3;
	color: currentColor;
	transition-property: opacity scale;
	transition-duration: 250ms ;
}

.project:focus,
.project:hover {
	opacity: .6;
	scale: 1.05;
}


@media (min-width: 450px) {
	html {
		font-size: 11px;
	}

	.wrapper {
		flex-direction: row;
	}

	.counter-main {
		padding: 2em 0;
		flex-basis: 60%;
	}

	.counter-body {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		order: 0;
	}
}
